#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 20px auto;
}

.image-container:hover {transform: scale(1.1);box-shadow: 0 4px 16px rgba(0,0,0,0.3);transition: transform 0.3s, box-shadow 0.3s;}

.social-media a {
    color: white;
    margin: 0 5px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #1c93cd;
}
html {
    margin-bottom: 100px;

}